<div class="container-fluid bg-dark text-light footer-padding">
    <div class="row">
      <div class="col-sm">
        <p class="footer-align-2" style="margin-bottom: 0px;">@Copyright 2021 Lushen Pillay</p>
      </div>
      <div class="col-sm footer-align">
        <a href="https://www.facebook.com/lushen.pillay.58/" class="text-light"><i class="footer-icon-padding fab fa-facebook"></i></a>
        <a href="https://twitter.com/Lushen09" class="text-light"><i class="footer-icon-padding fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/lushenpillay09/" class="text-light"><i class="footer-icon-padding fab fa-instagram"></i></a>
        <a href="https://github.com/Lushen09" class="text-light"><i class="footer-icon-padding fab fa-github"></i></a>
      </div>
    </div>
  </div>