<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include ('./partials/head.ejs') %>

<body class="text-center">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark s-nav-pad" id="s-nav-pad">
    <a class="navbar-brand afont" href="/"><img src="images\0b33ad49-coat-of-arms-south-africa-2.png" alt="Coat of arms" id="coa" height="85" width="120">SA License Renewal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto" id="nav-text">
        <li class="nav-item pr-3">
          <a class="nav-link text-light" href="#">Home</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link text-light" href="#">About</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link text-light" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="margin-top: 200px;">
      <main role="main" class="inner cover"></main>

        <div id="carouselExampleFade carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active carousel-height">
              <img src="images\handOnWheel.jpg" class="d-block w-100 img" alt="...">
              <div class="carousel-caption d-none d-block">
                <h3>Welcome to the online license renewal system</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item carousel-height">
              <img src="images\queue.jpg" class="d-block w-100 img" alt="...">
              <div class="carousel-caption d-none d-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item carousel-height">
              <img src="images\trafficOverview.jpg" class="d-block w-100 img" alt="...">
              <div class="carousel-caption d-none d-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </div>
        </div>
    
        
        <p class="lead">Lorem ipsum dolor dummy text to enable scrolling, sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="lead">
          <a href="/admin" class="btn btn-lg btn-secondary">Admin</a>
          <a href="/driver" class="btn btn-lg btn-secondary">Driver</a>
        </p>

      </main>
    </div>

    <div class="">
      <%- include ('./partials/footer.ejs') %>
    </div>
    
  <script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("s-nav-pad").style.padding = "5px";
        document.getElementById("coa").style.height = "10vh";
        document.getElementById("coa").style.width = "13vh";
      } else {
        document.getElementById("s-nav-pad").style.paddingTop = "45px";
        document.getElementById("s-nav-pad").style.paddingBottom = "45px";
        document.getElementById("coa").style.height = "85px";
        document.getElementById("coa").style.width = "120px";
      }
    }
  </script>  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>
