<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body style="text-align: center;">
    <div class="col-md-4 col-md-offset-4 mx-auto" id="driver-login">
        <h2>Login failed. Incorrect credentials</h2>
        <br><br>
        <a href="/resetPassword" id="admin-button">Reset Password</a>
        <br><br>
        <a href="/driverLogin" id="admin-button">Re-attempt</a>
    </div>
</body>
</html>